@import '~scss-global';

.ui-about {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__bg {
	width: 90%;
	height: 96%;
	transform: rotate(-5deg);
	margin-left: 5%;
	margin-top: 2%;
	position: absolute;
	background: linear-gradient(135deg, #fefcea 0%, rgba(255, 248, 171, 0.9) 100%);
	box-shadow: 10px 10px 30px 0 rgba(248, 231, 28, 0.1);
	opacity: .3;

	&__2 {
	  transform: rotate(-2deg);
	  opacity: .8;
	}
  }

  &__container {
	margin: 0;
	padding: 80px 0 60px;

	&__bio, &__contact {
	  li {
		position: relative;
		list-style-type: none;

		&:before {
		  content: "◆";
		  white-space: pre;
		  color: #fcd413;
		  display: inline-block;
		  margin: 0 10px 0 -27px;
		  width: 17px;
		  position: absolute;
		  top: 6px;
		  font-size: 11px;
		  font-weight: 600;
		  line-height: 14px;
		  text-align: center;
		  background-color: rgba(252, 212, 19, .5);
		  padding: 2px 0 1px;
		  border-radius: 2px;
		}
	  }
	}

	&__contact {
	  .ui-about {
		&__bg {
		  background: linear-gradient(135deg, rgba(237, 255, 238, 0.9) 0%, rgba(190, 249, 238, 0.8) 100%);
		  box-shadow: 10px 10px 30px 0 rgba(238, 255, 238, 0.3);
		}

		&__block {
		  &__content {
			.page-title {
			  span {
				background-image: linear-gradient(180deg, transparent 85%, rgba(173, 243, 235, 0.8) 0);
			  }
			}
		  }
		}
	  }


	  ul {
		li {
		  &:before {
			color: #a2d6a5;
			background-color: rgba(217, 235, 218, .9);
		  }
		}
	  }
	}
  }

  &__bio {
	//background: #fcfcfc;
  }


  &__block {
	width: 960px;
	margin: 0 auto;
	position: relative;

	&__content {
	  position: relative;
	  width: 57%;
	  display: inline-block;
	  margin: 0;
	  padding-right: 40px;

	  .page-title {
		span {
		  background-image: linear-gradient(180deg, transparent 85%, rgba(252, 212, 19, 0.5) 0);
		}
	  }

	  ul, ol {
		padding-left: 3rem;
		margin: 1em 0;
	  }

	  li {
		a {
		  font-weight: 700;
		  text-decoration: none;
		  background-image: linear-gradient(180deg, transparent 90%, black 0);
		  transition: all .2s;
		}
	  }
	}

	h1, figure {
	  position: relative;
	}

	figure {
	  width: 42%;
	}

	h1 {
	  font-size: 3.6rem;
	  margin: 0 0 2.4rem;
	}
  }

  &__avatar {
	margin-top: 50px;
	width: 250px;
	height: 250px;
	position: relative;

	&__img {
	  width: 250px;
	}
  }

  &__bio {
	margin-top: 30px;
	flex: 0 0 auto;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.6;
  }

  &__request-cv {
	@include ui-button;
	margin-top: 50px;
	flex: 0 0 auto;
	display: block;
  }
}
